<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="service" class="com.mbstu.service.StudentService">
		<property name="dao" ref="dao"></property>
	</bean>

	<bean id="dao" class="com.mbstu.dao.StudentDao" />

	<bean id="helper" class="com.mbstu.helper.StudentHelper" />
</beans>

